<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713104540090-od6l3d97t2jkgg98poala4l4bv7q9p9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713104540090-od6l3d97t2jkgg98poala4l4bv7q9p9c</string>
	<key>API_KEY</key>
	<string>AIzaSyDIMUkLqW6wCiw901ZhTieJoRrWKKbkenw</string>
	<key>GCM_SENDER_ID</key>
	<string>713104540090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.floodApp</string>
	<key>PROJECT_ID</key>
	<string>floodauth</string>
	<key>STORAGE_BUCKET</key>
	<string>floodauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713104540090:ios:31ef3489aab682481d1d83</string>
</dict>
</plist>